<app-trumpfrog/>
<hr style="border:14px solid rgb(21, 23, 29);border-radius: 5px;margin:25px 0px 25px 0px">
<app-number-sort/>
<hr style="border:14px solid rgb(21, 23, 29);border-radius: 5px;margin:25px 0px 25px 0px">
<app-find/>
<hr style="border:14px solid rgb(21, 23, 29);border-radius: 5px;margin:25px 0px 25px 0px">
<h1>Shape</h1>
<app-draw-shape [shape]="'square'" [size]='65'/>
<app-draw-shape [shape]="'circle'" [size]="100" [color]="'green'"/>
<app-draw-shape [shape]="'triangle'" [size]="100" [color]="'red'"/>
<p [innerHTML]="'@input'"></p>
