<h1>Shape</h1>
<app-draw-shape shape="square" [size]='65'/>
<app-draw-shape shape="circle" [size]="100" [color]="'green'"/>
<app-draw-shape shape="triangle" [size]="100" [color]="'red'"/>
<p [innerHTML]="'@input'"></p><!--c2-->
<hr style="border:14px solid rgb(21, 23, 29);border-radius: 5px;margin:25px 0px 25px 0px">
<app-tempus-profile/>
<p [innerHTML]="'Event listener & @if'"></p>
<hr style="border:14px solid rgb(21, 23, 29);border-radius: 5px;margin:25px 0px 25px 0px">
<app-number-sort/><!--c4-->
<hr style="border:14px solid rgb(21, 23, 29);border-radius: 5px;margin:25px 0px 25px 0px">
<app-trumpfrog/><!--c5-->
<hr style="border:14px solid rgb(21, 23, 29);border-radius: 5px;margin:25px 0px 25px 0px">
<app-find/><!--c6-->
<hr style="border:14px solid rgb(21, 23, 29);border-radius: 5px;margin:25px 0px 25px 0px">

