<input [(ngModel)]="dataTypedInTextBox" placeholder="type something here">
<p>
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} |  
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
    {{ dataTypedInTextBox }} | {{ dataTypedInTextBox }} | 
</p>
