<h1>Angular Group Project</h1>

<details> 
  <summary>Dan Has Components</summary>
  <p><app-dan-c1 /></p> 
</details>

<details> 
  <summary>Nate Has Components</summary>
  <p><app-nate-c1 /></p> 
</details>

<details> 
  <summary>Rishi Has Components</summary>
  <p><app-rishi-c1 /></p> 
</details>

<details> 
  <summary>Shawn Has Components</summary>
  <p><app-shawn-c1 /></p> 
</details>

<details> 
  <summary>Zach Has Components</summary>
  <p><app-zach-c1 /></p> 
</details>

<details> 
  <summary>Guido Has Components</summary>
  <p><app-guido-c1 /></p> 
</details>