<h1>Mad Libs</h1>

<input [(ngModel)]="adjective1" />
<input [(ngModel)]="adjective2" />
<input [(ngModel)]="noun1" />
<input [(ngModel)]="noun2" />
<input [(ngModel)]="color" />
<input [(ngModel)]="verb1" />
<input [(ngModel)]="verb2" />

<p> It was a {{adjective1}} day at South Hills. All of the students needed to bring their {{color}} {{noun1}} for Guido's class.</p>
<br>
<p> After that it was time for lunch. Each student brought a {{noun2}} sandwhich from home.</p>
<br>
<p>The students got carried away and had to {{verb1}} to make it to Bob's class on time. Luckly, they made it in time and it was time for Bob's {{adjective2}} teaching.  </p>
<br>
<p> When the students got home, they had to {{verb2}} on their computer to make sure they got their homework done.</p>
<br>
<p>After the long day the students decided to get a good nights sleep to be ready for the next day.</p>